name: Build and Push Docker Image
on:
  push:
    branches:
      - master
jobs:
  build_and_test:
    name: Build & Test the Application
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v6
        with:
          go-version: '1.23.0'
      - name: Install Operator SDK
        run: |
          curl -LO https://github.com/operator-framework/operator-sdk/releases/download/v1.39.2/operator-sdk_linux_amd64
          chmod +x operator-sdk_linux_amd64
          sudo mv operator-sdk_linux_amd64 /usr/local/bin/operator-sdk
      - name: Create temp directory and run operator-sdk init
        run: |
          TMP_DIR=$(mktemp -d)
          cd $TMP_DIR
          operator-sdk init --domain example.com --repo github.com/example/repo  --project-name foo
          make test
          ls -l $TMP_DIR/bin 
          cp -r $TMP_DIR/bin $GITHUB_WORKSPACE/ && ls $GITHUB_WORKSPACE/bin/k8s
#      - name: Tidy Go modules
#        run: |
#          go mod tidy
#          if [[ -n $(git status --porcelain) ]]; then
#            git config --global user.name "github-actions[bot]"
#            git config --global user.email "github-actions[bot]@users.noreply.github.com"
#            git add go.mod go.sum
#            git commit -m "chore: run go mod tidy"
#            git push
#          else
#            echo "No changes detected"
#          fi
      - name: Cache Go modules
        uses: actions/cache@v5
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
      - name: Build
        run: go build -v -o operator ./cmd
      - name: Test
        run: go test -v -coverprofile cover.out ./...
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Extract branch or tag name
        run: |
          REF=$(echo ${GITHUB_REF#refs/*/})
          COMMIT_ID=${GITHUB_SHA}
          if [[ "$REF" == "master" ]]; then
            echo "ref=latest" >> $GITHUB_ENV
          else
            echo "ref=$REF" >> $GITHUB_ENV
          fi
          echo "commit_id=$COMMIT_ID" >> $GITHUB_ENV
      - name: Cache Docker layers
        uses: actions/cache@v5
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            schmiddim/blackbox-operator:${{ env.ref }}
            schmiddim/blackbox-operator:${{ env.commit_id }}
          platforms: linux/amd64, # linux/arm64
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache